    #current-day-info {
    width: 34%;
    min-height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 89% 100%, 0% 100%);
    }
    #current-day-info #app-name-landscape {
    font-size: 6.2vh;
    padding: 9vh 0 1vh;
    border-bottom:  1px solid;
    }
    #current-day-info h2 {
    font-size: 6vh;
    font-weight: 300;
    margin: 0 0 3vh;
    padding: 3vh;
    }
    #current-day-info h1 {
    font-size: 6.8vh;
    font-weight: 600;
    margin: 4vh 0;
    }
    #current-day-info #theme-landscape {
    display: block;
    padding: 1.8vh 4.2vh;
    color: #FEFDFD;
    border: 3px solid #FEFDFD;
    font-size: 2.4vh;
    }
    #current-day-info #theme-landscape:hover {
    background-color: white;
    opacity: 0.4;
    color: black;
    }
